body {
  font-family: "Poppins", sans-serif;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

#gallery-grid img {
  transition: transform 0.3s ease;
}

#gallery-grid img:hover {
  transform: scale(1.05);
}

#detalle-obra img {
  max-height: 500px;
  object-fit: contain;
}

footer {
  border-top: 1px solid #ccc;
}
